body{
	background: #488BC3 !important;
	overflow-x: hidden;
}

header{
	background: url(../img/blue-stripes.png);
	width: 100%;
	height: 75px;
	border-bottom: 5px #74B70E solid;
}

header > figure{
	margin: 0
}

header > figure img{
	min-width: 200px;
	max-width: 100%;
	height: 60px;
	margin: 3px 10px;
}

.container{
	background: #fff;
	padding: 1em; 
	margin: 1em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.ui.stackable.grid{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#report-icon{
	width: 50px;
	margin: 10px auto;
	display: block;
}

#reports{
	font-size: 18px;
	font-weight: 900;
	color: #488BC3;
	line-height: 0;
	padding: 5px;
	margin-bottom: 30px;
}

.text-center{
	text-align: center;
}

.text-muted{
	color: #eee
}

.ui.button a{
	color: #fff;
}

.ui.action.input.input-append.date {
	font-size: 1.25rem;
}

.ui.form .field > label{
	text-align: left;
	font-size: 16px !important;
	padding-bottom: 5px;
}

.align-center{
	margin: 0 auto;
	text-align: center;
	display: block;
	width: 100%;
}

footer{
	padding: 0 1em;
}